<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leayun.bdc.dao.SysUserMapper">

    <!-- 定义表名 -->
    <sql id="table">
        example_sys_user
    </sql>

    <!-- 全字段(按照阿里巴巴java开发手册,包含id、gmt_create、gmt_modified字段) -->
    <sql id="all_columns">
        sys_user_id, name, is_deleted, gmt_create, gmt_modified
    </sql>

    <!-- 除id外的全字段 -->
    <sql id="all_columns_except_id">
        name, is_deleted, gmt_create, gmt_modified
    </sql>

    <!-- select 字段 -->
    <sql id="select_columns">
          sys_user_id,
          name,
          is_deleted AS deleted,
          gmt_create,
          gmt_modified
    </sql>

    <resultMap id="BaseResultMap" type="SysUser" >
        <id column="sys_user_id" property="sysUserId"/>
        <result column="name" property="name"/>
        <result column="is_deleted" property="deleted"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <resultMap id="SysUserVoResultMap" type="SysUserVO" >
        <id column="sys_user_id" property="sysUserId"/>
        <result column="name" property="name"/>
        <result column="is_deleted" property="deleted"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <collection property="roles" column="sys_user_id" fetchType="lazy"
                    select="com.leayun.bdc.dao.RoleMapper.findRolesBySysUserId" />
    </resultMap>

    <!-- 插入操作 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="sysUserId">
        INSERT INTO <include refid="table"/>
          (<include refid="all_columns_except_id"/>)
        VALUES
          (#{name}, 0, #{gmtCreate}, #{gmtModified})
    </insert>

    <!-- 删除操作(根据id软删除) -->
    <update id="delete">
        UPDATE <include refid="table"/>
        SET
          is_deleted = 1
        WHERE sys_user_id = #{sysUserId}
    </update>

    <!-- 更新操作 -->
    <update id="update">
        UPDATE <include refid="table"/>
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            gmt_modified = #{gmtModified}
        </set>
        WHERE sys_user_id = #{sysUserId} AND is_deleted = 0
    </update>

    <!-- 查询操作(根据id) -->
    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="select_columns"/>
        FROM <include refid="table"/>
        WHERE sys_user_id = #{sysUserId} AND is_deleted = 0
    </select>

    <!-- 获取全部操作(对于数据量大于1000的表，必须在分页的条件下调用) -->
    <select id="getAll" resultMap="BaseResultMap">
        SELECT <include refid="select_columns"/>
        FROM <include refid="table"/>
        WHERE is_deleted = 0
    </select>

    <!-- 存在操作(根据id) -->
    <select id="exists" resultType="boolean">
        SELECT EXISTS(
          SELECT 1
          FROM <include refid="table"/>
          WHERE sys_user_id = #{sysUserId} AND is_deleted = 0
        )
    </select>

    <!-- 条件查询 -->
    <select id="findVO" resultMap="SysUserVoResultMap">
        SELECT <include refid="select_columns"/>
        FROM <include refid="table"/>
        <where>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            AND is_deleted = 0
        </where>
    </select>
</mapper>