<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>
        <package name="com.leayun.bdc.model.entity"/>
        <package name="com.leayun.bdc.model.vo"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.leayun.bdc.mybatis.plugin.AuditingInterceptor">
            <property name="createdPropertyName" value="gmtCreate"/>
            <property name="modifiedPropertyName" value="gmtModified"/>
        </plugin>
    </plugins>
</configuration>